<div *ngIf="element">
  <h3>
    {{element.name}} details :
  </h3>
  <div class="row">
    <div class="col-md-2" *ngFor="let img of getImageSource()">
      <img [src]="img" width="60" heigh="60"/>
    </div>
  </div>
  <div>
    <label>id: </label> {{element.key}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="element.name" placeholder="name">
  </div>
  <div>
    <label>taille: </label> {{element.taille}}
  </div>
  <button (click)="deleteFile()" type="button" class="btn btn-danger">
    <span>Supprimer ce fichier</span>
  </button>
  <button (click)="copyFile()" type="button" class="btn btn-info">
    <span>Copier ce fichier</span>
  </button>
  <div>
    <button (click)="openShare()" type="button" class="btn btn-success">
      <span>Partager</span>
    </button>
    <div *ngIf="shareOpen">
      Liste des personnes ayant accès:
      <div *ngFor="let share of element.sharedList">
        {{share}}
      </div>
      <input [(ngModel)]="newShare" placeholder="adresse mail">
      <button (click)="addShare()" type="button" class="btn btn-success">
        <span>Ajouter</span>
      </button>
    </div>
  </div>

</div>

